@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--lightGray);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
main {
  margin: 10rem auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 48vw;
}
.headline {
  padding-top: 2.3rem;
  padding-left: 2.1rem;
  margin-bottom: 2rem;
}
.headline h1 {
  color: var(--Cyan);
  padding-bottom: 1.2rem;
}
.headline h2 {
  color: var(--brightYellow);
  font-size: 1rem;
  margin-bottom: 0.9rem;
}
.headline p {
  color: var(--grayishBlue);
  line-height: 1.5;
  font-size: 0.9rem;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  color: #fff;
}
.col__1 {
  background-color: var(--Cyan);
  font-weight: 400;
  border-bottom-left-radius: 5px;
  padding: 2rem;
}
.col__2 {
  background-color: var(--Cyan);
  opacity: 0.9;
  border-bottom-right-radius: 5px;
  padding: 2rem;
}
.contentOne h3 {
  font-size: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1.1rem;
}
.contentOne p {
  font-size: 1.8rem;
  font-weight: 700;
}
.contentOne p:nth-child(3) {
  font-size: 0.9rem;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
span {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 10px;
  color: var(--lightGray);
}
button {
  background-color: var(--brightYellow);
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 15px;
  color: #fff;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contentTwo h3 {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 0.5rem;
  margin-bottom: 1.1rem;
}
.contentTwo p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--lightGray);
}
